header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  height: 500px;
  padding-top: 50px;
}

.nav-link {
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, .5);
}
